// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '_footer.css';

html {
    font-size: 16px;
}

body.web {
  font-family:'Montserrat', 'sans-serif';
  color: black;
  background-color: #FFFCF6;
  padding-top: 3.9em;
}

a, a:hover, a:link{
    text-decoration:none;
    transition:all 0.2s ease-in-out;
}
ul {
    list-style:none;
}
